@import url('https://fonts.googleapis.com/css?family=Montserrat:400, 700');
@import url('https://fonts.googleapis.com/css?family=Lato:300, 400, 700');
@import url('https://unpkg.com/ionicons@4.1.1/dist/css/ionicons.min.css');
[class*="iconicfill-"]:before {
	 font-family: "IconicFill", sans-serif;
	 font-size: 2rem;
	 position: relative;
	 top: -0.3rem;
}
 .left {
	 float: left;
}
 .right {
	 float: right;
}
 .fa.fa-angle-up, .fa.fa-angle-down {
	 cursor: pointer;
}
 body, html {
	 padding: 0;
	 margin: 0;
}
 body {
	 /* background: linear-gradient(to bottom, rgba(153, 192, 150, 0.85), rgba(153, 192, 150, 0.85)), url(http://www.disclosureshop.com/img/logo.png); */
	 /* background-size: 100%; */
	 /* background-position: 0% 0%; */
	 /* background-repeat: no-repeat; */
   min-height: 100vh;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
   -webkit-app-region: drag
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.titlebar-button {
  -webkit-app-region: no-drag;
}

i {
  cursor: pointer;
}

#player {
	 overflow: hidden;
	 /* border-radius: 5px; */
	 /* transform: scale(0.5, 0.5); */
	 position: absolute;
	 height: 100vh;
	 width: 100%;
	 background: rgba(0, 0, 0, 1);
	 /* top: calc(50% - 250px);
	 left: calc(50% - 175px); */
	 /* box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4); */
}
 #player .scrollDown {
	 position: absolute;
	 height: 130%;
	 width: 100%;
	 background: rgba(0, 0, 0, 0.85);
	 top: -140%;
	 z-index: 2;
}
 #player .scrollDown .content {
	 position: absolute;
	 bottom: 0;
	 height: 77%;
	 width: 100%;
	 padding: 10px 17px;
	 box-sizing: border-box;
	 color: #99c096;
}
 #player .scrollDown .content .header {
	 font-size: 1.5rem;
	 margin-bottom: 20px;
}
 #player .scrollDown .content span {
	 display: inline-block;
	 font-weight: 300;
}
 #player .scrollDown .content span:first-child {
	 min-width: 20px;
}
 #player .scrollDown .content span:nth-child(2) {
	 min-width: 230px;
	 max-width: 200px;
	 padding-left: 15px;
	 box-sizing: border-box;
	 font-weight: 400;
}
 #player .scrollDown .content h3 {
	 font-family: "Montserrat", sans-serif;
	 margin-top: 40px;
	 padding-left: 15px;
	 font-size: 2.6rem;
	 margin-bottom: 40px;
}
 #player .scrollDown .content ul {
	 list-style: none;
	 padding-left: 20px;
}
 #player .scrollDown .content ul li {
	 font-family: "Lato", sans-serif;
	 font-size: 0.843rem;
	 margin-bottom: 15px;
	 margin-left: 0;
	 color: rgba(255, 255, 255, 0.8);
}
 #player .scrollDown .content span.fa-angle-up {
	 min-width: 10px;
	 font-size: 2rem;
	 float: right;
}
 #player .top {
	 position: relative;
	 color: white;
}
 #player .top .floating {
	 position: absolute;
	 font-size: 2rem;
	 right: 5%;
	 top: 10px;
}
 #player .top .container {
	 font-family: "Montserrat", sans-serif;
	 margin-top: -100px;
	 padding: 0 10%;
}
 #player .top .container p {
	 font-family: "Lato", sans-serif;
	 font-weight: 300;
	 color: rgba(255, 255, 255, 0.35);
	 font-size: 0.9rem;
}
 #player .top .container h3 {
	 font-size: 3rem;
	 margin: -19px 0 10px;
}
 #player .top .container h3 .iconicfill-pause {
	 float: right;
	 color: #99c096;
	 position: relative;
	 top: 2px;
}
 #player .top .container h3 .iconicfill-pause:before {
	 font-size: 1.5rem;
}
 #player .top .cover {
	 width: 100%;
	 padding: 50% 0;
	 background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); 
	 background-image: url(../assets/custom_wallpaper.jpg);
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center;
}
 #player .top .timing {
	 margin-bottom: 15px;
	 margin-top: 40px;
	 padding: 0 10% 20px;
	 font-family: "Montserrat", sans-serif;
	 font-size: 0.9rem;
	 color: rgba(255, 255, 255, 0.9);
}
 #player .top .timing span:before, #player .top .timing span:after {
	 clear: both;
}
 #player .top .timing span:last-child {
	 color: rgba(153, 153, 153, 0.45);
}
 #player .top .progress {
	 width: 80%;
	 height: 1px;
	 background: rgba(153, 153, 153, 0.45);
	 margin: 0 auto;
	 position: relative;
}
 #player .top .progress #progress-bar {
	position: absolute;
    top: 0;
    left: 0;
    background: #99c096;
    width: 0;
    height: 100%;
 }
 #player .bottom {
	 position: absolute;
	 z-index: 1;
	 bottom: 0;
	 width: 100%;
	 box-sizing: border-box;
	 font-size: 1.7rem;
	 height: 50px;
	 display: flex;
	 justify-content: space-evenly;
}
 #player .bottom i {
	 transition: all 0.5s;
	 color: rgba(153, 153, 153, 0.5);
	 /* position: absolute; */
}
 #player .bottom i:first-child {
	 /* left: 10%; */
}
 #player .bottom i:nth-child(2) {
	 /* left: 50%; */
	 transform: translatex(-50%);
	 /* color: rgba(153, 192, 150, 1); */
}
 #player .bottom i:last-child {
	 /* right: 10%; */
}
 #player .bottom i:hover {
	 color: rgba(153, 153, 153, 0.8);
}

.song-item {
	cursor: pointer;
}